body { background: #5959f6; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 40px; display: flex; }
.block-logger-0 { color: #6ba3da; font-size: 12px; margin-bottom: 5px; }
.block-database-1 { color: #9d44af; font-size: 15px; margin-bottom: 5px; }
.block-logger-2 { color: #39db73; font-size: 16px; margin-bottom: 5px; }
.block-email-3 { color: #6327b1; font-size: 14px; margin-bottom: 5px; }
.block-cluster-4 { color: #98f11f; font-size: 12px; margin-bottom: 5px; }